<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div id="board_outline">
  <table id="chess_board" cellpadding="0" cellspacing="0" >
      <% (0..7).reverse_each do |y| %>
        <tr>
        <% (0..7).reverse_each do |x| %>
          <% if chess_piece(x,y).nil? %>
            <td class="square" data-x-coord=<%= x %> data-y-coord=<%= y %>></td>
          <% else %>
            <td class="square" data-x-coord=<%= x %> data-y-coord=<%= y %>>
            <div class="pieces" data-update-url="<%= piece_path chess_piece(x,y) %>" data-piece-id="<%= chess_piece(x, y).id %>"><%= image_tag(chess_piece(x, y).image_name) %></div>
            </td>
          <% end %>

        <% end %>
        </tr>
      <% end %>
  </div>
</div>

  <script>
  $ (function() {
    $( ".pieces" ).draggable({
       containment: '#chess_board',
       cursor: 'move',
     });
     
     $( ".square" ).droppable({
      drop: handleDropEvent
    });
  });

  function handleDropEvent( event, ui ) {
    var x = $(event.target).data("x-coord");
    var y = $(event.target).data("y-coord");
    var draggable = ui.draggable;
    var piece_id = draggable.data("piece-id");
    window.piece_id = piece_id; //bad idea 
    
    $(this).append(draggable.css('position','static'))

    $.ajax({
          type: 'PUT', 
          statusCode: {
            205: function() {
              location.reload();
            },
            422: function() {
              location.reload();          
            },
            206: function(){
              location.reload();
            },
            204: function() {
              alert("Check Mate!");
            }
          },
          url: draggable.data('update-url'),
          dataType: 'json',
          data: { piece: {x_coord: x, y_coord: y}}
        });
  }
  
  $(".promote").click(function() {
    $.ajax({
      type: "PUT",

      // send piece_id 
    })
  });
  </script> 

     <!-- Button trigger modal -->
  <button type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#myEditModal" id="myEditModalButton">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myEditModalLabel">Choose a Piece</h4>
        </div>
        <div class="modal-body">
          <%= render "pieces/form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
