<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div id="board_outline">
  <div id="chess_board">
      <% (0..7).reverse_each do |y| %>
      <% (0..7).reverse_each do |x| %>
       <% if chess_piece(x,y).nil? %>
       <div class="square" data-x-coord=<%= x %> data-y-coord=<%= y %>></div>
        <% else %>
        <div data-x-coord=<%= x %> data-y-coord=<%= y %>>
          <div class="pieces" data-update-url="<%= piece_path chess_piece(x,y) %>"><%= image_tag(chess_piece(x, y).image_name) %></div>
        </div>
       <% end %>
       <% end %>
       <% end %>
  </div>
</div>

  <script>
  $ (function() {
    $( ".pieces" ).draggable();
     $( ".square" ).droppable({
      drop: handleDropEvent
    });
  });

  function handleDropEvent( event, ui ) {
  var x = $(event.target).data("x-coord");
  var y = $(event.target).data("y-coord");
  var draggable = ui.draggable;
  alert( draggable.data('update-url') );
   $.ajax({
          type: 'PUT',
          url: draggable.data('update-url'),
          dataType: 'json',
          data: { piece: {x_coord: x, 
            y_coord: y} }
        });
      }
   
  </script> 