<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div id="board_outline">
  <table id="chess_board" cellpadding="0" cellspacing="0" >
      <% (0..7).reverse_each do |y| %>
        <tr>
        <% (0..7).reverse_each do |x| %>
          <% if chess_piece(x,y).nil? %>
            <td class="square" data-x-coord=<%= x %> data-y-coord=<%= y %>></td>
          <% else %>
            <td class="square" data-x-coord=<%= x %> data-y-coord=<%= y %>>
            <div class="pieces" data-update-url="<%= piece_path chess_piece(x,y) %>" data-piece-id="<%= chess_piece(x, y).id %>"><%= image_tag(chess_piece(x, y).image_name) %></div>
            </td>
          <% end %>

        <% end %>
        </tr>
      <% end %>
  </div>
</div>

  <script>
  $ (function() {
    $( ".pieces" ).draggable({
       containment: '#chess_board',
       cursor: 'move',
     });
     
     $( ".square" ).droppable({
      drop: handleDropEvent
    });
  });

  function handleDropEvent( event, ui ) {
    var x = $(event.target).data("x-coord");
    var y = $(event.target).data("y-coord");
    var draggable = ui.draggable;
    var piece_id = draggable.data("piece-id");

    $(this).append(draggable.css('position','static'))

    $.ajax({
          type: 'PUT',
          url: draggable.data('update-url'),
          dataType: 'json',
          data: { piece: {x_coord: x, y_coord: y}}
        });
  }
   
  </script> 
