<h2><%= @game.title %></h2>

<%= content_tag "div", class: "chess_board_partial col-sm-5 col-xs", data: { game_id: @game.id} do%>
	<%= render partial: "chess_board", locals: {game: @game}%>
<% end %>

<div class="players-list col-sm-5 col-sm-offset-1 col-xs-12">
  <h3>White Player:</h3>
  <%= @game.white_player.email %><br class="clear"/>

  <h3>Black Player:</h3>
  <% unless @game.black_player.nil?%>
    <%= @game.black_player.email %>
  <% else %>
    <%= link_to "Find a Friend", "#", :class => "btn btn-md btn-default" %>
  <% end %>
    <br class="clear"/>
    <br />
    <br />
    <br />
</div>


   <!-- Button trigger modal -->
<button type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#pawn-promote" id="pawn-promote-button">
</button>

<!-- Modal -->
<%= render "pawn_promote_modal" %>
